body {
  background-image:url("photos/ues_bw_blur.jpg");
  background-size: cover;
}

.header {
	float: left;
  margin: 0px;
  padding: 0px 0px 0px 20px;
  background-color: #640D14;
  color: white;
  width: 100%;
  text-align: center;
  border: 2px solid black;
  font-family: 'Dancing Script';
  box-sizing: border-box;
}

.sidebar {
    border: 2px solid black;
    font: bold;
    background-color: #38040E;
    color: white;
    clear:both;
    height: 269px;
    width: 200px;
    float: left;
}

.content {
    display: inline-block;
}

.menu {
    text-align: center;
    font-family: georgia;
    font-size: 30px;
}

a:link{
  text-decoration: none;
}

li {
  padding: 5px 0px 5px 10px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

li:hover {
  transform: scale(1.5);
}

hr {
    clear: left;
}

.abouthome {
  width: 800px;
  height: 250px;
  position: relative;
  left: 250px;
  margin: 0px 10px 20px;
  padding: 10px;
  border: 1px solid black;
  text-align: left;
  background-color: #cecece;
  opacity: 0.9;
}

.recent {
  width: 810px;
  height: 800px;
  position: relative;
  left: 200px;
  margin: 0px 10px 30px 60px;
  padding: 5px;
  border: 1px solid black;
  text-align: center;
  background-color: #cecece;
  opacity: 0.9;
}

.entry1 {
  text-align: left;
  border: 1px solid black;
  padding: 5px 10px;
  display: inline-block;
  position: relative;
  left: -10px;
  width: 700px;
}

.desciption {
  font-style: italic;
  width: 250px;
  margin: 0px;
  padding: 0px;
  position: relative;
  left: 20px;
  top: -30px;
  display: inline-block;
}

.guthrie-photo {
  width: 350px;
  margin: 0px;
  padding: 0px;
  position: relative;
  left: 80px;
  top: 10px;
  display: inline-block;
}

.guthrie-photo img {
  width:100%;
}
  
.food-drink-title {
  width: 800px;
  height: 100px;
  position: relative;
  left: 250px;
  margin: 0px 10px 20px;
  padding: 10px;
  border: 1px solid black;
  text-align: left;
  background-color: #cecece;
  opacity: 0.9;
}
  
.food-drink {
  width: 810px;
  height: 800px;
  position: relative;
  left: 200px;
  margin: 0px 10px 30px 60px;
  padding: 5px;
  border: 1px solid black;
  text-align: center;
  background-color: #cecece;
  opacity: 0.9;
}  
  
.footer {
  font-family: georgia;
  background-color: #250902;
  color: white;
  border: 2px solid black;
  bottom: 0;
  clear: both;
   box-sizing: border-box;
}